.date-range-card {
  display: flex;
  flex-direction: column;

  gap: 10px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  border-radius: 12px;

  padding: 40px;

  width: 100%;
  min-width: 0;

  height: 400px;

  box-sizing: border-box;

  color: white;

  cursor: pointer;
}

.date-range-chart {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  flex: 1;
}

.date-range-fields {
  display: flex;

  flex-wrap: wrap;

  gap: 12px;

  align-items: center;

  width: 100%;
}

.date-range-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: 13px;
  font-weight: bold;
  background-color: #3DAEDA;
  border-radius: 6px;
  padding: 6px 10px;
}

.date-range-row,
.date-type-row {
  min-width: 0;
  flex: 1 1 auto;
}

.date-range-text {
  font-weight: bold;
  white-space: nowrap;
  color: white;
}

.date-range-input {
  border: none;
  font-size: 13px;
  font-weight: bold;
  font-family: inherit;
  color: white;
  background: transparent;
  text-align: right;
}

.date-range-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.date-type-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: 13px;
  font-weight: bold;
  background-color: #F24452;
  border-radius: 6px;
  padding: 6px 10px;
}

.data-type-input{
  border: none;
  font-size: 13px;
  font-weight: bold;
  font-family: inherit;
  color: white;
  background: transparent;
  text-align: right;

}